# Rename this file to ".env" before use
# Replace XXXX's with your own Firebase config keys 
  apiKey: "AIzaSyAszqXBC-TfxyN6llD3IrW3aBr0E5MlrcU",
  authDomain: "thlab3.firebaseapp.com",
  projectId: "thlab3",
  storageBucket: "thlab3.appspot.com",
  messagingSenderId: "880826263671",
  appId: "1:880826263671:web:724600a094a6bfe8e33e72",
  measurementId: "G-TWC1CPY5ST"